
<div class="container">
<div class="container card p-3 request-form col-lg-6 ">
  <div [hidden]="submitted">
    <h1 id="head">Request Seats</h1>
    
    <form #heroForm="ngForm">

       <div class="form-group form-inline">
        <label for="Cso_Id" class="col-sm-4 ">CSO Owner Id</label>
        <input type="text"  min="0"  onkeypress="return event.charCode >= 48" class="form-control col-sm-6" id="Cso_Id" required [(ngModel)]="model.csoOwner" name="Cso_Id" #Cso_Id="ngModel">
        <div [hidden]="Cso_Id.valid || Cso_Id.pristine" class="alert alert-danger">
          Please Specify CSO Owner Id !
        </div>
      </div>
      <div class="form-group form-inline">
        <label for="Cso_Name" class="col-sm-4 ">CSO Owner Name</label>
        <input type="text"  min="0"  class="form-control col-sm-6" id="Cso_Name" required [(ngModel)]="model.csoOwnerName" name="Cso_Name" #Cso_Name="ngModel" >
        <div [hidden]="Cso_Name.valid || Cso_Name.pristine" class="alert alert-danger">
          Please Specify CSO Owner Name !
        </div>
      </div>
      <div class="form-group form-inline">
        <label for="location_name" class="col-sm-4 ">Location Name</label>
        <input type="text"  min="0"  class="form-control col-sm-6" id="location_name" required [(ngModel)]="model.locationName" name="location_name" #location_name="ngModel" >
        <div [hidden]="location_name.valid || location_name.pristine" class="alert alert-danger">
          Please Specify Location Name !
        </div>
      </div>


      <div class="form-group form-inline">
        <label for="totalseats" class="col-sm-4 ">Total No. Of Seats</label>
        <input type="number"  min="0"  onkeypress="return event.charCode >= 48" class="form-control col-sm-6" id="totalseats" required [(ngModel)]="model.TotalSeats" name="totalseats" #totalseats="ngModel">
        <div [hidden]="totalseats.valid || totalseats.pristine" class="alert alert-danger">
          Please Specify Seats Required !
        </div>
      </div>
 <button class="btn btn-success"   [disabled]="!heroForm.form.valid" (click)="UpdateLocation(model); heroForm.reset()">UPDATE</button>
    </form>
  </div>
</div>
</div>

