<!-- <div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <h1>Seat <span>Allocation</span></h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control input-underline input-lg" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="pass" [ngModelOptions]="{standalone: true}" class="form-control input-underline input-lg"  placeholder="Password">
                    </div>
                </div>
                <a class="btn rounded-btn" (click)=login() > Log in </a>
                &nbsp;
                <a class="btn rounded-btn" >Register</a>
            </form>
        </div>
    </div> -->
